.row {
    margin-bottom: 5%;
    align-self: center;
}
.col {
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}
.cardBody1 {
    padding-top: 3%;
    background-color: rgb(236, 236, 236);
}

.pageContainer {
    padding-bottom: 10%;
    width: 100%;
    position: absolute;
}
.card {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}
.cardTitle {
    font-weight: bold;
    font-size: 1.5rem;
}

.title {
    padding: 3%;
    margin: 0;
    font-weight: bold;
}

.cardTitle {
    font-size: 1rem;
}
.cardLink {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-left: 2%;
    margin-right: 2%;
    text-decoration: none;
}
.noshow {
    display: none;
}
@media screen and (max-width: 1050px) {
    .pageContainer {
        height: 100%;
    }
    .title {
        margin: 5%
    }
    .card {
        width: 80%;
    }
    
}

@media screen and (max-width: 768px) {
    .cardTitle {
        font-size: 1rem;
    }
    .card {
        width: 80%;
    }
    .cardBody1{
        padding-top: 8%;
    }
}
