
.homeContainer {
    background: linear-gradient(180deg, rgb(125, 139, 228) 0%, rgb(94, 47, 156) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    overflow: hidden;
}
.homepageItems {
    width: 100%;
    height: 100%;
    position: absolute;
}


.linkContainer {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    margin: 5% 12% 10% 12%;
    justify-content: space-between;
    display: flex;
    z-index: 1;
    position: relative;
}
.pageLink {
    color:black;
    z-index: 2;
    position: relative;
    font-weight: bold;

}
.bitmoji{
    display: none;
}
.whiteBox {
    position: absolute;
    top: 0;
    width: 90%;
    height: 80%;
    margin: 5%;
    background-color: white;
    z-index: -1;
    
}
/* .falldownContainer {
    animation-name: falldown;
    animation-name: falldown;
    animation-duration: 10s;
    position: absolute;
    z-index: 1;
    margin-left: 20%;
} */

@keyframes falldown {
    from {top: 0vh;}
    to {top: 100vh;}
}
.text {
    white-space: pre-line;
    text-align: left;
    font-weight: bolder;
    font-size: larger;
    display:inline-flexbox;
    margin: 20% 10% 10% 10%;
    width: 65%;
    position: relative;
    font-size: 30px;
    transition: all 0.5s ease-in;
}

.animationText {
    visibility: hidden;
}

@media screen and (min-width: 1050px) {
    .bitmoji{
        display: block;
        position: absolute;
        top: 20%;
        left: 65%;
    }

    .pageLink {
        font-size: 30px;
    
    }
    .linkContainer{
        width: 35%;
    }
    /* .falldownContainer {
        animation-name: falldown;
        animation-duration: 10s;
        position: absolute;
        z-index: 1;
        margin-left: 20%;
    } */
    .whiteBox {
        border-radius: 60px;
    }
    .text {
        position: relative;
        margin: 10% 0 5% 12%;
        width: 40%;
        font-size: 36px;
    }

    .animationText {
        position: absolute;
        z-index: 4;
        bottom: 2%;
        text-align: center;
        width: 100%;
        color: white;
        visibility: visible;
    }



    
}
@media screen and (max-width: 768px) {
   
    .linkContainer {
        margin: 10% 15% 10% 15%;
        justify-content: space-between;
    }
    .pageLink {
        font-size: 15px;
        margin-bottom: 10%;
    }
    .text {
        font-size: 22px;
        margin-left: 15%;
        margin-top: 40%;
    
    }
}