
.homeContainer {
    background: linear-gradient(180deg, rgb(125, 139, 228) 0%, rgb(94, 47, 156) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}
.linkContainer {
    flex-direction: row;
    text-align: left;
    margin: 10% 12% 10% 12%;
    justify-content: space-between;
    display: flex;
    z-index: 1;
    position: relative;
}
.link {
    color:black;
    z-index: 2;
    position: relative;
    font-weight: bold;

}
.bitmoji{
    display: none;
}
.whiteBox {
    position: absolute;
    top: 0;
    width: 90%;
    height: 80%;
    margin: 5%;
    background-color: white;
    z-index: -1;
}
/* .falldownContainer {
    animation-name: falldown;
    animation-name: falldown;
    animation-duration: 10s;
    position: absolute;
    z-index: 1;
    margin-left: 20%;
} */

@keyframes falldown {
    from {top: 0vh;}
    to {top: 100vh;}
}

@media screen and (min-width: 1050px) {
    .bitmoji{
        display: block;
        position: absolute;
        top: 12%;
        left: 65%;
    }

    .link {
        font-size: 30px;
    
    }
    /* .falldownContainer {
        animation-name: falldown;
        animation-duration: 10s;
        position: absolute;
        z-index: 1;
        margin-left: 20%;
    } */
    
}
@media screen and (max-width: 800px) {
   

    .link {
        font-size: 14px;
    }
    
}