.linebreak {
    white-space: pre-line;
    text-align: left;
    font-weight: bolder;
    font-size: larger;
    display:inline-flexbox;
    margin: 20% 10% 10% 10%;
    width: 65%;
    position: relative;
    font-size: 30px;
}
@media screen and (min-width: 1050px) {
    .linebreak {
        position: relative;
        margin: 10% 0 5% 10%;
        width: 40%;
        font-size: 36px;
    }
}

@media screen and (max-width: 800px) {
   

    .linebreak {
        font-size: 24px;
    
    }
    
}