.row {
    margin-bottom: 5%;
    align-self: center;
}
.col {
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}
.header {
    font-weight: bold;
    display: inline;
    color: white;
}

.cardBody {
    padding-top: 10%;
    
    background-color: rgb(236, 236, 236);
}

.pageContainer {
    padding-bottom: 10%;
    width: 100%;
    position: absolute;
}
.card {
    margin-left: auto;
    margin-right: auto;
    
}
.cardTitle {
    font-weight: bold;
}
.cardCompany {
    font-weight: bold;
    font-size: 14px;
}
.dropdown {
    width: 40%;
    margin-bottom: 1%;
    padding: 1% 0 1% 0;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    background: linear-gradient(90deg, rgb(125, 139, 228) 0%, rgb(94, 47, 156) 100%);
    border-radius: 10px;
    justify-content: space-between;
}
.fas {
    position: absolute;
    right: 5%;
    font-size: 1.5rem;
}
.rowSkill {
    margin-bottom: 2%;
}
.colSkill {
    padding: 0;
}
.h5 {
    font-weight: bold;
}
.title {
    padding: 3%;
    margin: 0;
    font-weight: bold;
}
.arrow {
    top: 40%;
    color: white;
}
.uoftLogo {
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
.educationDesc {
    justify-self: center;
    align-items: center;
    padding-top: 5%;
}
.educationCollapse {
    width: 50%;
}

@media screen and (max-width: 1050px) {
   
    .header {
        font-size: 18px;
    }
    .arrow {
        font-size: 1rem;
        bottom: 30%;
        color: white;
    }
    .h5 {
        font-size: 12px;
    }
    .pageContainer {
        height: 100%;
    }
    .dropdown {
        width: 75%;
        padding: 2%;
    }
    .title {
        margin: 5%
    }
}

@media screen and (max-width: 500px) {
    
    .header {
        font-size: 14px;
    }
    .educationH4 {
        font-size: 16px;
    }
    .educationH5 {
        font-size: 14px;
    }
}
