.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  flex: 1;
  height: 100vh;
  z-index: 1;
  position: relative;
  
}

.Content {
  align-content: center;
  justify-content: center;
}

