.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(180deg, rgb(217, 221, 248) 0%, rgb(221, 187, 253) 100%);
  flex: 1;
  height: 100vh;
  overflow: hidden;
  
}

.Content {
  align-content: center;
  justify-content: center;
}

